# Node Modules
node_modules/

# Build files
.expo/
.expo-shared/

# Firebase Configs
firebase.json

# Environment Variables
.env

# iOS & Android Build Files
android/
ios/

# VS Code & MacOS System Files
.vscode/
.DS_Store
